@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");

:root {
    --primary: #76d2ec;
    --lightblue: #78cee6;
    --secondary: #a6e1f5;
    --blue: #4888c3;
    --darkblue: #2f5f8c;
    --white: #f9fbff;
    --dark: #777777;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: var(--secondary);
}

.main{
	width: 350px;
	height: 500px;
	background: var(--lightblue);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px white;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}


label{
	color: #fff;
	font-size: 2em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input{
	width: 60%;
	height: 20px;
	background: #fff;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--darkblue);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background: var(--blue);
}

label:hover {
    font-size: 2.2em; 
    color: var(--darkblue); 
}

.login{
	height: 460px;
	background: var(--white);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
    white-space: nowrap;
}

.login label{
	color: var(--darkblue);
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.custom-alert-red {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
    padding: 20px;
	padding-bottom: 0px;
    background-color: #f44336;
    color: white; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; 
  }
  
  .custom-alert-message-red {
    margin-bottom: 10px;
  }
  
  .custom-alert-close-red {
	display: block;
	margin-top: 10px; 
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
  }

  .custom-alert-close-red:hover {
	background-color: #ac433c;
  }

  .custom-alert-green {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
    padding: 20px;
	padding-bottom: 0px;
    background-color: #2baa29;
    color: white; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; 
  }
  
  .custom-alert-message-green {
    margin-bottom: 10px;
  }
  
  .custom-alert-close-green {
	display: block;
	margin-top: 10px; 
	background-color: transparent;
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
  }

  .custom-alert-close-green:hover {
	background-color: #29843b;
  }
